section.boot {
  margin-top: 53px;
  margin-bottom: 80px;
  position: relative;

  .content-conversation {
      height: calc(100vh - 100px);
      position: relative;
      top: 12px;
      max-width: 300px;
      left: 50%;
      margin-left: -150px;

      .conversacion-boot {
          background-color: $color-blue-boot;
          padding: 10px;
          border-radius: 20px;
          width: 80%;
          margin-bottom: 5px;
          font-size: 14px;
      }

      .conversacion-user {
          background-color: $color-pink-boot;
          padding: 10px;
          border-radius: 20px;
          width: 80%;
          margin-bottom: 5px;
          font-size: 14px;
          margin-left: 10%;
      }
  }

  .input-chat-box {
      position: fixed;
      bottom: 105px;
      width: 100%;
      height: 60px;
      z-index: 2;
      background-color: $color-white;
      display: block;

      form.chat {
        padding-bottom: 36px;
        background-color: $color-white;
        display: block;
        position: relative;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;

        &:after {
          content: "";
          background: linear-gradient(to bottom,transparent 0,rgba(255,255,255,.1) 25%,rgba(255,255,255,.3) 50%,rgba(255, 255, 255, 0.8) 100%);
          display: block;
          height: 100px;
          width: 100%;
          position: absolute;
          margin-top: -185px;
        }
    }

      input#chat-box {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding-top: 10px;
        position: relative;

      }

  }

}
