section.conocete {
  margin-top: 57px;
  margin-bottom: 80px;
  padding-top: 20px;

  h1 {
    text-align: center;
  }

  .accordeon {

    .title {
      border-bottom: 1px solid $color-white;
      padding: 15px 20px;
      background-color: $color-grey-light;
      position: relative;

      &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 10px solid $color-blue;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
      }

    }

    .content {
      display: none;
    }
  }

}
