footer {
    position: fixed;
    bottom: 0;
    font-size: 0;
    z-index: 2;

    .btnchat {
      bottom: 4px;
      width: 150px;
      height: 49px;
      position: fixed;
      right: 13px;
      z-index: 9;
      text-align: right;
      p {
        color: $color-white;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        text-decoration: none;
      }
      span {
        width: 42px;
        height: 42px;
        right: 20px;
        background-image: url(../img/btn-chat.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
      }
    }

}
