header {
  background-color: $color-blue;
  font-size: 0;
  z-index: 1;
  position: relative;

  .brand {
      width: 50%;
      display: inline-block;
      vertical-align: middle;

      img {
        width: 100%;
        max-width: 250px;
      }
  }

  .burger {
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    .burger-icon {
      width: 28px;
      height: 28px;
      display: block;
      background-image: url(../img/burger.png);
      background-repeat: no-repeat;
      background-size: cover;
      float: right;
      margin-right: 20px;
      @include hover-transition-5;

      &.active {
        background-image: url(../img/close.png);
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
      }

    }

  }

  &.int {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 3;
  }

}

nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.92);
    z-index: 9;
    top: 57px;
    display: none;

      ul {
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid #80808047;
            padding: 15px 20px;
        }

    }

}
