section.form-login {
    width: 100%;
    max-width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

  input[type="text"]{
      width: 100%;
      padding: 10px 20px;
      box-sizing: border-box;
      margin-bottom: 10px;
  }

  input[type="password"] {
      width: 100%;
      padding: 10px 20px;
      box-sizing: border-box;
  }

  .btns-box {
      margin-top: 24px;

      .btn_green {
        margin-top: 12px;
    }

    .forget-pass {
          text-align: center;
      }

      .legal {
          text-align: center;

          p {
              font-size: 14px;
          }
      }

  }

}

.popupforgetpass {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.82);
    z-index: 9;
    top: 0;
    display: none;

    .content {
        width: 100%;
        max-width: 300px;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);

        input[type="text"]{
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .close {
          position: absolute;
          right: 0;
          top: -32px;
          color: $color-white;
          font-weight: 600;
          font-family: 'Roboto Condensed',sans-serif;
          background-color: $color-blue;
          border-radius: 50%;
          padding: 5px;
          line-height: 1;
          font-size: 12px;
          box-sizing: border-box;
        }
    }

}
