section.perfil {
  width: 100%;
  max-width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);

  .noedit {

    .icon {
        width: 109px;
        height: 60px;
        margin: 0 auto;
        background-image: url(../img/icon-people.jpg);
        background-size: cover;
    }

    h1 {
      text-align: center;
      margin: 10px 0 0 0;
    }

    p {
      text-align: center;
      margin: 5px 0 0 0;
    }

  }

  form.perfil {
      margin-top: 30px;

      input[type="text"]{
          width: 100%;
          padding: 10px 20px;
          box-sizing: border-box;
          margin-bottom: 10px;
      }
  }

}
