.secciones {
  margin-top: 53px;
  margin-bottom: 80px;
  position: fixed;
  font-size: 0;

  section.conocete,
  section.desahogate,
  section.biblioteca,
  section.ayudar {
    font-size: 0;
    width: 50%;
    display: inline-block;
    background: #dadada;
    padding: 0;
    margin: 0;
    min-height: 261px;
    position: relative;
  }

  a {
    position: relative;
    width: 100%;
    display: block;
    min-height: 222px;
  }

    .info {
      position: absolute;
      width: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.48);
      text-align: right;
      bottom: 0;
      padding: 13px 20px;
      box-sizing: border-box;

      h2 {
          color: $color-white;
          font-size: 16px;
          line-height: 16px;
      }
    }

    // picture {
    //     height: 100%;
    //     position: absolute;
    //     text-align: center;
    //     width: 993px;
    //     z-index: 1;
    //
    //     img {
    //       left: 50%;
    //       min-height: 100%;
    //       position: absolute;
    //       -webkit-transform: translate(-50%,-50%);
    //       -ms-transform: translate(-50%,-50%);
    //       transform: translate(-50%,-50%);
    //       top: 50%;
    //       min-width: 100%;
    //       max-width: 70%;
    //     }
    //
    // }



}
