section.tyc,
section.acercade {
  width: 100%;
  max-width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);

  h1 {
    text-align: center;
  }

}
