* {
  outline: none;
}

html {
  min-height: 100%;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: $color-grey;
}

*:focus {
  outline: none;
}

figure, picture {
  padding: 0;
  margin: 0;
  display: block
}

img {
  max-width: 100%;
  height: auto;
}



h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;

}


h2 {
  font-size: 23px;
  line-height: 23px;
  font-weight: 900;
  margin: 0;
}



p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $color-blue;

  &:focus,
  &:hover {
    color: $color-blue;
  }
}

.btn_green {
  @include btn_green;
}

.btn_blue {
  @include btn_blue;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder  {
  font-family: 'Roboto Condensed', sans-serif;
  color: $color-grey;
}
