@mixin hover-transition-5 {
	transition: all .5s;
  -webkit-transition: all .5s;
}

@mixin hover-transition-3 {
	transition: all .3s;
  -webkit-transition: all .3s;
}

@mixin hover-transition-2 {
	transition: all .2s;
  -webkit-transition: all .2s;
}

@mixin btn_green {
	border: 1px solid $color-green;
  background-color: $color-green;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: $color-white;
  padding: 8px 30px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}


@mixin btn_blue {
  border: 1px solid $color-blue;
  background-color: $color-blue;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: $color-white;
  padding: 8px 30px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
