/* QUERYS */
$mobileXS: 350px !default;
$mobileXA: 375px !default;
$mobileX: 480px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$desktopL: 1200px !default;
$desktopXL: 1500px !default;

/*Colors ayudapp*/
$color-blue: #2D8EFF;
$color-green: #3fbf9c;
$color-white: #ffffff;
$color-grey: #848484;
$color-grey-light: #f1f1f1;

/*Colors blocks*/
$color-purple: #5c50bf;
$color-yellow: #ffa61a;
$color-green-hight: #c9ff1a;
$color-pink: #ff1acd;
$color-blue-boot: #cce1fa;
$color-pink-boot: #fbd9e4;
